/* Estilos del header */
#header_Index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    height: 80px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar_Index {
    display: flex;
    align-items: center;
}

#navbar_Index li {
    list-style: none;
    padding: 0 20px;
}

#navbar_Index li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #032a64;
}

#navbar_Index li.active a {
    color: #fff;
}

#navbar_Index li.active button {
    background-color: #9ccae0;
    color: #fff;
}

/* Estilos del formulario de contacto */
#contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="reset"] {
    background-color: #f44336;
}

button:hover {
    background-color: #45a049;
}

input:required,
select:required,
textarea:required {
    border-color: #ff0000;
}

input:required:focus,
select:required:focus,
textarea:required:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px #ff0000;
}

.footer_container_Contacto {
    background: #E3E6F3;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
