/* --------------------------------------------------------------------------------*/
/* Estilos del Index (inicio)*/

.header_Nav {
    height: 100px;
}

body {
    background-color: #2a87b2
}

/* --------------------------------------------------------------------------------*/
/* Estilos del Header (inicio)*/

#section_Nav {
    display: flex;
    /*flexbox*/
    align-items: center;
    /*centrar verticalmente*/
    justify-content: space-between;
    /*espacio entre los elementos*/
    padding: 20px 80px;
    /*espacio entre el contenido y el borde*/
    background: #E3E6F3;
    /*fondo del header*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    /*sombra*/
    height: 80px;
    /*altura del header*/
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* --------------------------------------------------------------------------------*/
/* Estilos del NavBar (inicio)*/

#navbar {
    display: flex;
    /*flexbox*/
    align-items: center;
    /*centrar verticalmente*/
}

#navbar li {
    list-style: none;
    /*quitar viñetas*/
    padding: 0 20px;
    /*espacio entre los elementos*/
}

#navbar li a {
    text-decoration: none;
    /*quitar subrayado*/
    font-size: 15px;
    /*tamaño de la fuente*/
    font-weight: 600;
    /*grosor de la fuente*/
    color: #032a64;
    /*color de la fuente*/
}

#boton_NavbarIndex {
    background-color: #9ccae0;
    border: none;
    color: #032a64;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s;
    /*transición*/
    width: 166px;
}

#boton_NavbarIndex:active {
    transform: scale(1.1);
}

#boton_NavbarIndex:hover {
    transform: scale(1.1);
}

/* --------------------------------------------------------------------------------*/
/* Estilos footer*/

.footer_container_Index {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: #E3E6F3;
    font-size: 14px;
    position: static;
    width: 100%;
    height: 80px;
    padding: 20px 80px;
}

.footer_container_Index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.footer_container_Index p:first-child {
    margin-right: 10px;
}

.footer_container_Index p:last-child {
    margin-left: auto;
}

/* --------------------------------------------------------------------------------*/
/*Redes sociales*/

.redes_sociales {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.redes_sociales a {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.redes_sociales img {
    width: 30px;
    height: 30px;
    justify-content: left;
}


/* --------------------------------------------------------------------------------*/
/* Estilo carousel*/

#carousel_Index {
    margin-bottom: 50px;
}


/* --------------------------------------------------------------------------------*/
/* Estilos Productos Destacados Index*/

.container_Index {
    text-align: center;
}

.header_verTodos {
    display: flex;
    justify-content: center;
}

.header_content {
    flex: 1;
}

.section_link {
    text-align: right;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 20px;
    margin-left: 0px;
}

.section_link:hover {
    background-color: #45a049;
}

.productos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
    /* Modificar el valor del margen */
}

.producto {
    width: calc(33.33% - 20px);
    /* Modificar el ancho del producto */
    padding: 20px;
    margin-bottom: 10px;
    /* Modificar el valor del margen inferior */
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.producto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto h3 {
    margin-top: 0;
}

.producto p {
    margin-bottom: 10px;
}

.producto button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #45a049;
}

/* --------------------------------------------------------------------------------*/
/*Redes sociales*/

.redes_sociales {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

.redes_sociales a {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.redes_sociales img {
    width: 30px;
    height: 30px;
    justify-content: left;
}


/* --------------------------------------------------------------------------------*/
/* Estilos del formulario de Contacto */

#contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="reset"] {
    background-color: #f44336;
}

button:hover {
    background-color: #45a049;
}

input:required,
select:required,
textarea:required {
    border-color: #ff0000;
}

input:required:focus,
select:required:focus,
textarea:required:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px #ff0000;
}

.footer_container_Contacto {
    background: #E3E6F3;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
























/* --------------------------------------------------------------------------------*/
/* Estilos de Productos */

* {
    box-sizing: 0;
    /*tamaño de la caja*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*fuente*/
}

/* animacion botones*/

#boton_NavbarProducto {
    background-color: #9ca9e0; /*color de fondo*/
    border: none; /*quitar borde*/
    color: #1a1a1a; /*color de la fuente*/
    padding: 15px 32px; /*espacio entre el contenido y el borde*/
    text-align: center; /*alinear texto al centro*/
    text-decoration: none; /*quitar subrayado*/
    display: inline-block; /*mostrar como bloque*/
    font-size: 16px; /*tamaño de la fuente*/
    font-weight: 600; /*grosor de la fuente*/
    margin: 4px 2px; /*espacio entre los elementos*/
    cursor: pointer; /*cursor*/
    border-radius: 12px; /*borde redondeado*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); /*sombras*/
    transition: transform 0.3s; /*transición*/
}

#boton_NavbarProducto:active {
    transform: scale(0.9); /*tamaño del botón*/
}

#boton_NavbarProducto:hover {
    transform: scale(1.1); /*tamaño del botón*/
}

/* animacion boton seleccionado con color distinto para saber en que pagina estas parado*/

#boton_NavbarProducto_select {
    background-color: #55e28b;
    /*color de fondo*/
    border: 1p;
    /*tamaño borde*/
    color: #1a1a1a;
    /*color de la fuente*/
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s;
    /*transición*/
}

#boton_NavbarProducto_select:active {
    transform: scale(0.9);
}

#boton_NavbarProducto_select:hover {
    transform: scale(1.1);
}

.container_Productos {
    display: flex;
    /*flexbox*/
}

#imgProducto {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #1a1a1a;
    border-radius: 12px;
    margin: 10px;
}

.productos {
    background-color: #ffffff;
    padding: 20px;
    margin-left: 0px;
}

.producto1 {
    width: 300px;
    height: fit-content;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.producto1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #000000;
}

.barraLateral {
    width: 20%;
    background-color: #f2f2f2;
    padding: 0px;
    margin-left: 10px;
}

.barraLateral h4 {
    text-align: center;
    margin: 10px 10px;
}

.barraLateral a {
    text-decoration: none;
    color: #1a1a1a;
    margin: 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #1a1a1a;
    width: 150px;
    height: 40px;
    background-color: #e3f2f3;
    order: 2;
}

.paginacion {
    margin-left: 25%;
}

/* Estilos del Productos  arriba */
/* --------------------------------------------------------------------------------*/

















/* --------------------------------------------------------------------------------*/
/* Estilos de pagina Nosotros  abajo */